# Ignore Python virtual environments
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
# Ignore compiled Python files

# Ignore file 
*.log
*.tmp
*.bak
temp.py
# Ignore log files, temporary files, and backup files  
*.swp